<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"><meta>
        <title>Yue Recorder</title>
    </head>
    <body>
        <head>VoiceRecorder Test</head>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="pauseButton" disabled>Pause</button>
            <button id="stopButton" disabled>Stop</button>
        </div>
        <div id="formats">Format: start recording to see sample rate</div>
        <p><strong>Recordings:</strong></p>
        <ol id="recordingsList"></ol>
        <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
        <script src="app.js"></script>

    </body>
</html>